@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
:root {
    --shadow: rgba(0, 0, 0, 0.8)
  }
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    color:white;
    line-height: 1.7;
}

.slider-container{
    overflow: hidden;
    height:100vh;
    display: inline-flex;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide{
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
@media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
}
  .slide img{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 50px -1px var(--shadow);
    border-radius: 4px;
    user-select: none;
  }


.slide h4{
    font-size:1.3rem;
}

.btn{
    background-color: #444;
    color:#fff;
    text-decoration: none;
    padding:1rem 1.5rem;
    margin-top: 30px;
}

.grabbing{
    cursor:grabbing;
}

.grabbing .slide img{
    transform:scale(0.8);
}